<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="Presentation.Main" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <a href="WFinicio.aspx">Inicio</a>
            <a href="WFAnamnensis.aspx">Anamnesis</a>
            <a href="WFAnimals.aspx">Animales</a>
            <a href="WFAppointments.aspx">Citas</a>
            <a href="WFDiagnoses.aspx">Diagnostico</a>
            <a href="WFDocumentType.aspx">Tipo Documento</a>
            <a href="WFMedicalHistory.aspx">Historia clinica</a>
            <a href="WFOffice.aspx">Consultorio</a>
            <a href="WFOwner.aspx">propietario</a>
            <a href="WFRoles_Permission.aspx">Roles y permisos</a>
            <a href="WFPermission.aspx">Permisos</a>
            <a href="WFRol.aspx">Roles</a>
            <a href="WFTreatment.aspx">tratamientos</a>
            <a href="WFUsers.aspx">Usuarios</a>
            <a href="WFVaccines.aspx">vacunas</a>
            <a href="WFVeterinarian.aspx">veterinario</a>
            <a href="WFVeterinaryHours.aspx">horario veterinario</a>

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
