<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="Presentation.Main" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <a href="#">inicio</a>
            <a href="#">anamnesis</a>
            <a href="#">Animales</a>
            <a href="#">citas</a>
            <a href="#">diagnostico</a>
            <a href="WFDocumentType.aspx">tipo Documento</a>
            <a href="#">Historia clinica</a>
            <a href="WFOffice.aspx">consultorio</a>
            <a href="#">propietario</a>
            <a href="WFPermission.aspx">permisos</a>
            <a href="#">Roles y permisos</a>
            <a href="WFRol.aspx">roles</a>
            <a href="#">tratamientos</a>
            <a href="#">usuarios</a>
            <a href="#">vacunas</a>
            <a href="#">veterinario</a>
            <a href="#">horario veterinario</a>

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
